<!-- ============================================================== -->
<!-- Formulari Editar -->
<!-- ============================================================== -->

<div class="login-box card" [hidden]="!editing">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Editar usuari
  </div>
  <div class="card-body">
    <form
      class="form-horizontal form-material"
      id="loginform"
      (submit)="editItem()"
    >
      <div class="form-group m-t-20">
        <div class="col-xs-2">
          <input
            class="form-control input-sm"
            type="text"
            name="nif"
            required=""
            placeholder="NIF"
            [(ngModel)]="this.respostasService.selectedRegUsuari.nif"
          />
          <label><small>NIF/NIE</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="text"
            name="username"
            required=""
            placeholder="Username"
            [(ngModel)]="this.respostasService.selectedRegUsuari.username"
          />
          <label><small>Username</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="text"
            name="cip"
            required=""
            placeholder="CIP"
            [(ngModel)]="this.respostasService.selectedRegUsuari.cip"
          />
          <label><small>CIP</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="text"
            name="mobilePhone"
            required=""
            placeholder="Mobil Phone"
            [(ngModel)]="this.respostasService.selectedRegUsuari.mobilePhone"
          />
          <label><small>Mobil Phone</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="email"
            name="email"
            placeholder="email"
            [(ngModel)]="this.respostasService.selectedRegUsuari.email"
          />
          <label><small>Email</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="Date"
            datetime="yyyy-MM-dd HH:mm:ss"
            name="birthdate"
            placeholder="Birthdate"
            [(ngModel)]="this.respostasService.selectedRegUsuari.birthdate"
          />
          <label><small>Birthdate</small></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input
            class="form-control input-sm"
            type="text"
            name="role"
            placeholder="Role"
            [(ngModel)]="this.respostasService.selectedRegUsuari.role"
            disabled
          />
          <label><small>Role</small></label>
        </div>
      </div>
      <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
          <button
            class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
            type="submit"
          >
            Confirmar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- ============================================================== -->
<!-- End formulari -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Llistat -->
<!-- ============================================================== -->

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Usuaris registrats
    </div>
    <div class="card-body">
      <div class="form-group row m-t-2">
        <label class="col-md-1" for="selectCerca">Cerca per</label>
        <div class="col-md-2">
          <select
            id="selectCerca"
            name="selectCerca"
            class="form-control form-control"
            [(ngModel)]="selectCerca"
          >
            <option value="0">NIF</option>
            <option value="1">Username</option>
            <option value="2">CIP</option>
            <option value="3">Email</option>
          </select>
        </div>
        <input
          class="form-control input-sm col-md-4"
          type="text"
          name="filtre"
          placeholder="Cercar"
          [(ngModel)]="filtre"
          autofocus
        />
      </div>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>NIF</th>
            <th>Username</th>
            <th>Cip</th>
            <th>Telèfon</th>
            <th>Email</th>
            <th>Data naixement</th>
            <th>Role</th>
            <th>Accions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | cerca: filtre: selectCerca">
            <td>{{ item.nif }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.cip }}</td>
            <td>{{ item.mobilePhone }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.birthdate }}</td>
            <td>{{ item.role }}</td>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="loadForm(item.id)"
              >
                <i class="fa fa-check"></i> Editar
              </button>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                (click)="deleteItem(item.id)"
              >
                <i class="fa fa-times"></i> Esborrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End llistat -->
<!-- ============================================================== -->
